@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.header {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1.1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
}

.logo {
    font-size: 3.5rem;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

.shop {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

.navBar {
    display: flex;
    align-items: center;
    column-gap: 3rem;
}

.searchIcon {
    width: 25px;
    font-weight: bolder;
}