@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.itemAddToCart {
    width: 100%;
}

.imageAndAddToCart {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    margin-top: 3rem;
    width: 100%;
}

.itemAddCartImg {
    width: 15%;
}

.itemTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

.itemPrice {
    font-family: 'Poppins', sans-serif;
    color: green;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.decreaseButton {
    background-color: white;
}

.changeItemCount {
    width: 100%;
    display: flex;
    align-items: center;
}

.itemCount {
    height: 3rem;
    width: 70%;
    border: 0.5px solid grey;
    border-radius: 1rem;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    margin-left: 0.2rem;
}

.increaseIcon {
    width: 3rem;
}

.increaseButton {
    background-color: white;
    padding: 0.5rem;
}

.addToCart {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 90%;
    font-size: 2rem;
    border-radius: 2rem;
    margin-top: 2rem;
}

.itemDetails {
    width: 30%;
}

.itemDescriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.descriptionHeader {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin-right: 44rem;
}

.itemDescription {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    width: 46%;
    margin-top: 0.4rem;
}