@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.mainForHomePage {
    width: 100%;
}

.homePageHeader {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 4rem;
    width: 60%;
    text-align: center;
    min-height: 10rem;
}

.homePageText {
    font-family: 'Poppins', sans-serif;
    color: #a3a3a3;
    font-size: 2rem;
    width: 80%;
    text-align: center;
    margin-top: 1.6rem;
}

.overlayText {
    width: 100%;
    min-height: 42rem;
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ), url('../assets/store.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    padding-top: 12rem;
    padding-bottom: 6rem;
}

.featuredItemsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../assets/pattern.jpg');
    padding: 2rem;
}

.featuredItemsHeader {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    color: black;
}

.featuredItems {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    width: 95%;
    margin-top: 2rem;
    column-gap: 5rem;
    row-gap: 2rem;
}

.link {
    text-decoration: none;
}

.featuredItem {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    align-items: center;
}

.featuredItemImg {
    height: 350px;
    transition: transform 0.1s linear;
}

.featuredItemImg:hover {
    transform: scale(1.09);
}

.featuredItemTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: black;
    height: 5rem;
    margin-top: 1rem;
    text-align: center;
}

.featuredItemPrice {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: green;
    margin-right: 0.5rem;
}

@media (max-width: 700px) {
    .overlayText {
        padding-top: 15rem;
    }

    .homePageHeader {
        width: 80%;
    }

    .homePageText {
        width: 80%;
    }
}

@media (max-width: 450px) {
    .homePageHeader {
        font-size: 2rem;
        width: 80%;
    }

    .homePageText {
        width: 95%;
        font-size: 1.5rem;
    }

    .overlayText {
        padding-top: 13rem;
        padding-bottom: 2rem;
    }

    .featuredItemsContainer {
        padding: 0rem;
    }

    .featuredItemsHeader {
        font-size: 2.7rem;
        margin-top: 2rem;
    }

    .featuredItem {
        width: 88%;
        margin-left: 1.7rem;
        margin-right: 5rem;
    }

    .featuredItemPrice {
        margin-top: 1.1rem;
        margin-left: 0rem;
    }
}